@font-face {
  font-family: "Muli";
  src: local("Muli"), url(fonts/muli/Muli-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Muli";
  src: local("Muli"), url(fonts/muli/Muli-Italic.ttf) format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Muli";
  src: local("Muli"), url(fonts/muli/Muli-Italic.ttf) format("truetype");
  font-weight: lighter;
}

body {
  margin: 0;
  font-family: "Muli" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
